@import "./variable.scss";

:export {
  breakTablet: $break-point-tablet;
  breakMobile: $break-point-mobile;
  mediaDesktop: "@media #{$media-desktop}";
  mediaTablet: "@media #{$media-tablet}";
  mediaMobile: "@media #{$media-mobile}";
  themeLight: map-get($theme, "light");
  themeDark: map-get($theme, "dark");
};