$font-weight: (
  title: 500,
  text: 300,
  description: 100
);

$break-point-tablet: 1024;
$break-point-mobile: 768;

$media-desktop: "(min-width: #{$break-point-tablet + 1}px)";
$media-tablet: "(max-width: #{$break-point-tablet}px) and (min-width: #{$break-point-mobile}px)";
$media-mobile: "(max-width: #{$break-point-mobile - 1}px)";

$shadow-primary-light: 0px 1px 2px -2px rgba(0, 0, 0, 0.16), 0px 3px 6px 0px rgba(0, 0, 0, 0.12), 0px 5px 12px 4px rgba(0, 0, 0, 0.09);
$shadow-secondary-light: 0px 3px	6px	-4px rgba(0, 0, 0, 0.12), 0px 6px	16px	0px rgba(0, 0, 0, 0.08), 0px 9px	28px	8px rgba(0, 0, 0, 0.05);
$shadow-third-light: 0px 6px	16px -8px rgba(0, 0, 0, 0.08), 0px 9px	28px 0px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);

$theme: (
  light: light,
  dark: dark
);

$background-primary: #F5F5F7;
$color-primary: #212121;
$color-success: #07C160;
$color-active: #2C9AFC;
$color-secondary: #FF9F0A;
$color-important: #F26A6D;
$color-disable: #8c8c8c;

$theme-content: (
  #{map-get($theme, "light")}: (
    background-primary: $background-primary,
    color-primary: $color-primary,
    color-success: $color-success,
    color-active: $color-active,
    color-secondary: $color-secondary,
    color-important: $color-important,
    color-disable: $color-disable,
    shadow-primary: $shadow-primary-light,
    shadow-secondary: $shadow-secondary-light,
    shadow-third: $shadow-third-light,
    border: 1px solid #F0F0F0,
  ),
  #{map-get($theme, "dark")}: (
    background-primary: $background-primary,
    color-primary: $color-primary,
    color-success: $color-success,
    color-active: $color-active,
    color-secondary: $color-secondary,
    color-important: $color-important,
    color-disable: $color-disable,
    shadow-primary: $shadow-primary-light,
    shadow-secondary: $shadow-secondary-light,
    shadow-third: $shadow-third-light,
    border: 1px solid #F0F0F0,
  ),
);

@mixin theme($theme-content: $theme-content) {
  @each $theme-name, $map in $theme-content {
    .#{$theme-name} & {
      $theme-map: () !global;
      @each $key, $value in $map {
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;

      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}